<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>967529898332-omaoudjkdj6cij3fc3t7vi1r9lquiq6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967529898332-omaoudjkdj6cij3fc3t7vi1r9lquiq6b</string>
	<key>API_KEY</key>
	<string>AIzaSyAXOZ9hhFL1PSoah4Ljtf8FmjGCE-xacAY</string>
	<key>GCM_SENDER_ID</key>
	<string>967529898332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.derikflanary.Envelopes</string>
	<key>PROJECT_ID</key>
	<string>envelopes-9bacd</string>
	<key>STORAGE_BUCKET</key>
	<string>envelopes-9bacd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967529898332:ios:c5e4e3c9a9c672b3</string>
	<key>DATABASE_URL</key>
	<string>https://envelopes-9bacd.firebaseio.com</string>
</dict>
</plist>